<form action="{% url 'customer:auth' %}" method="POST">
   {% csrf_token %}
   <!-- 2 column grid layout with text inputs for the first and last names -->
   
   <!-- Email input -->
   <div class="form-outline mb-4">
     <input type="email" class="form-control" name="email" />
     <label class="form-label" for="form3Example3">Email address</label>
   </div>
   <!-- Password input -->
   <div class="form-outline mb-4">
     <input type="password"  class="form-control" name="password" />
     <label class="form-label" for="form3Example4">Password</label>
   </div>
   
   <button type="submit" class="btn btn-primary btn-block mb-4 d-flex justify-content-center align-items-center">
     Sign in
   </button>
   <!-- Register buttons --> 
   <div class="text-center">
    <p>Don't have an account?  <a href="" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up here</a> </p>
    <p>Forget your Password? <a href=""  data-bs-toggle="modal" data-bs-target="#forgetModal">Click Me</a> </p> 
    
   </div>
   {% include 'customer_pages/messages.html' %}
 </form>
 
 <!-- Signup Modal -->
 <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="px-12 py-12 px-md-12 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
         <div class="col-lg-12 mb-5 mb-lg-0">
            <div class="card">
               <div class="card-body py-5 px-md-5">
                 {% include 'customer_pages/sign_up.html' %}
               </div>
            </div>
         </div>
      </div>
   </div>
     </div>
   </div>
 </div>
 
 <!-- Forget  Modal -->
 <div class="modal fade" id="forgetModal" tabindex="-1" aria-labelledby="forgetModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="forgetModalLabel">Forget Password</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="px-12 py-12 px-md-12 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
         <div class="col-lg-12 mb-5 mb-lg-0">
            <div class="card">
               <div class="card-body py-5 px-md-5">
                 {% include 'customer_pages/forget_password.html' %}
               </div>
            </div>
         </div>
      </div>
   </div>
     </div>
   </div>
 </div>